
{% load static %} <!--css 사용을 위해 load 한다-->
<!DOCTYPE html>
<html>
    <head>
        <title>django monthly team project </title>
        <!-- 마찬가지로 css 파일 경로를 위한 코드  -->
        <link rel ="stylesheet" href="{% static 'css/index.css' %}">
    </head>

    <body>
        <h1>전국 캠핑장 현황</h1>
        <a href="/camping">
        <img src="{% static 'images/activation_map.png' %}" >
        </a>
        <div class="card-body">
                <p class="card-text">캠핑장의 위치 정보와 현재 영업 상태를 알 수 있다.<br>
                    전반적으로 서울 근교 경기도/강원도 사이에 캠핑장이 많으며,<br>
                    영업 상태는 지역에 따른 특이사항이 발견되지 않는다.<br>
                    (사진 클릭시 지도생성)</p>
        </div>
        <h3>EDA 목록</h3>
        <p><button onclick="location.href='report/'">시기별 개폐업장 분석</button></p>
        
        <p><button onclick="location.href='report2/'">지역별 개폐업장 분석</button></p>
        
        <p><button onclick="location.href='report3/'">영업/휴업일수 분포</button></p>
        
        <p><button onclick="location.href='report4/'">연차별 개폐업장 분석</button></p>
        
        <p><button onclick="location.href='report5/'">지역별 시설 면적 비교</button></p>
        
        <p><button onclick="location.href='/'">홈으로</button></p>
    </body>
</html>