<!-- # 전국 연차별 영업장 수 페이지 -->
{% load static %} <!--css 사용을 위해 load 한다-->
<!DOCTYPE html>
<html>
    <head>
        <title>django monthly team project </title>
        <!-- 마찬가지로 css 파일 경로를 위한 코드  -->
        <link rel ="stylesheet" href="{% static 'css/index.css' %}">
    </head>

    <body>
        <h1>전국 지역별 영업장 수</h1>
        <img src="{% static 'images/k_total_shop.png' %}" >
        <div class="card-body">
                <p class="card-text">여기에 설명을 추가한다...여기에 설명을 추가한다...여기에 설명을 추가한다..</p>
        </div>
        <p><button onclick="location.href='/'">홈으로</button></p>
    </body>
</html>